@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
      font-family: 'Tox Typewriter';
      font-weight: 500;
      src: url(/src/fonts/tox-typewriter.ttf);
    }
    body{
      @apply bg-black;
    }
  }
